<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Take survey</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/take_survey.css' %}" />
</head>
<body>

    <!--<div class='outer_rectangle'> </div> -->
    <div class='top_frame'> </div>
    <div class='bottom_frame'>  <p class = 'copyright'> © Copyright 2021 Westminster College  </p></div>
    <div class = 'frame'> </div>
    <div class='inner_frame'> </div>
    <div class="inner_rectangle">
    <p class='start_survey'> Take survey now</p>
        <img src="{% static 'home/wm-logo.png' %}" class="left_logo">
        <button class='start_rectangle'>
            <div class = startButton>
                <a href="/survey_welcome">Start</a>
            </div>
        </button>





 </body>
</html>